<table class="table table-dark table-striped">
  <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>description</td>
      <td>age</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pets$ | async">
      <td>
        {{ p.id }}
      </td>
      <td>
        <a class="badge" routerLink="/pets/{{ p.id }}">{{ p.name }}</a>
      </td>

      <td class="red">{{ p.description }}</td>
      <td>{{ p.age }}</td>
      <td>
        <a class="btn btn-success" routerLink="/pets/edit/{{ p.id }}">edit</a>
        <a class="btn btn-danger" routerLink="/pets/delete/{{ p.id }}"
          >delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
